<div class="m-modal-window">
	<div class="modal-wrapper">
	  <div class="btn-close-modal close-icon">×</div>
	  <div class="modal-container">
	  	<h2>Footprints of Spain’s tourists in Summer 2014</h2>
	  	<h5>Minute by minute, watch how tourists spent their money across Spain and some of its biggest cities with our interactive visualisation.</h5>
	  	<p>BBVA provided us with anonymised details of credit card transactions in Spain last July and August. Our expert engineers and designers crafted this visualisation to allow you to analyse the where, when and what; ever wondered when the French buy their food, or which places the Germans flock to on their holidays? Sit back and discover the dynamics of spending in Spain.</p>
	  	<div class="m-action-buttons">
	  	  <button class="btn-loading">loading</button>
	  	  <a href="#" class="btn-continue modal-close" data-dismiss="modal">continue</a>
	  	</div>
	  	<div class="m-logos">
	  	  <img src="images/vizzuality.svg" alt="">
	  	  <img src="images/logotipo_de_bbva.svg" alt="">
	  	</div>
	  </div>
	</div>
	<div class="modal-background"></div>
</div>