// Screens
$screen-sm: 540px;
$screen-md: 960px;
$screen-lg: 1200px;

// Grid
$grid-columns: 12;
$grid-max-width: 960px;
$grid-gutter-width: 1%;


// Margins
$large-margin: 40px;
$medium-margin: 20px;
$small-margin: 10px;

// Font-sizes
$text-size: 16px;

// Colors
$white: #fff;
$gray-dark: #444;

// Theme
$bg-color-0: $white;

$text-color-0: $white;
$text-color-1: $gray-dark;