.icon-widget-analysis { background-image: url('png/widget-analysis.png'); background-repeat: no-repeat; }

.icon-widget-favorite-bg { background-image: url('png/widget-favorite-bg.png'); background-repeat: no-repeat; }

.icon-widget-favorite { background-image: url('png/widget-favorite.png'); background-repeat: no-repeat; }

.icon-widget-geo { background-image: url('png/widget-geo.png'); background-repeat: no-repeat; }

.icon-widget-info { background-image: url('png/widget-info.png'); background-repeat: no-repeat; }

.icon-widget-print { background-image: url('png/widget-print.png'); background-repeat: no-repeat; }

.icon-widget-share { background-image: url('png/widget-share.png'); background-repeat: no-repeat; }

